--extra-index-url https://download.pytorch.org/whl/cu113
torch
absl-py
accelerate
addict
aiohttp
aiosignal
altair
antlr4-python3-runtime
anyio
appdirs
async-timeout
attrs
audioread
av
diffusers
loguru
st_clickable_images
basicsr
bcrypt
black
blinker
boltons
cachetools
cffi
charset-normalizer
clean-fid
click
clip
coloredlogs
commonmark
contourpy
cryptography
cycler
decorator
diffusers
einops
entrypoints
facexlib
fairscale
fastapi
ffmpy
filelock
filterpy
fire
flatbuffers
font-roboto
fonts
fonttools
frozenlist
fsspec
ftfy
future
gdown
gfpgan
gitdb
GitPython
google-auth
google-auth-oauthlib
gradio
grpcio
h11
httpcore
httpx
huggingface-hub
humanfriendly
idna
imageio
importlib-metadata
inflection
invisible-watermark
Jinja2
joblib
jsonmerge
jsonschema
kiwisolver
kornia
lark

librosa
linkify-it-py
llvmlite
lmdb
lpips
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdit-py-plugins
mdurl
mpmath
multidict
mypy-extensions
networkx
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
oauthlib
omegaconf
onnx
onnxruntime
open-clip-torch
opencv-python
orjson
packaging
pandas
paramiko
pathspec
piexif
Pillow
platformdirs
pooch
protobuf
psutil
pyarrow
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydantic
pydeck
pyDeprecate
pydub
Pygments
Pympler
PyNaCl
pyparsing
pyre-extensions
pyrsistent
PySocks
python-dateutil
python-multipart
pytorch-lightning
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
realesrgan
regex
requests
requests-oauthlib
resampy
resize-right
rfc3986
rich
rsa
safetensors
scikit-image
scikit-learn
scipy
semver
sentencepiece
six
smmap
sniffio
soundfile
starlette
streamlit
streamlit-drawable-canvas
sympy
tb-nightly
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
threadpoolctl
tifffile
timm
tokenizers
toml
tomli
toolz
torch
torchdiffeq
torchmetrics
torchsde
torchvision
tornado
tqdm
trampoline
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
uc-micro-py
urllib3
uvicorn
validators
watchdog
wcwidth
websockets
Werkzeug
xformers
yapf
yarl
zipp